@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&family=Roboto+Mono&display=swap');

/* main  */
body {
  background-color: rgb(34,34,34);
  color: rgb(0,255,105);
  font-family: 'Roboto Mono', monospace;
}

.page-container {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

.heading-container {
  margin-top: 6em;
}

/* nav  */
.nav-container {
  border-bottom: 3px solid black;
  padding: 10px;
  top: 0;
  left: 0;
  position: fixed;
  margin-bottom: 10px;
  width: 100%;
  background-color: black;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-li {
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  color: rgb(0,255,105);
  text-decoration: none;
}

/* carousel  */
.carousel-container {
  margin-top: 5em;
}

.carousel-img {
  height: 80vh;
}

.work-container {
  margin-top: 4em;
  padding: 20px;
  margin-bottom: 3em;
}


/* footer  */
.footer-container {
  background-color: black;
  width: 100%;
  position: fixed;
  padding: 15px;
  bottom: 0;
  left: 0;
  text-align: center;
  border-top: 1px solid rgb(0,255,105);
}

.fab, .fas {
  margin: 0 10px;
  color: rgb(0,255,105);
}

.fab:hover {
  color: white;
} 

.fas:hover {
  color: white;
}